body {
    background: #141414;
    color: #ffffff;
}

.app > .row {
	overflow-x: hidden;
	overflow: scroll;
    flex-wrap: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #00b7ff;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #036c95d7;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container > img {
	width: 175px;
}

.image-container > span {
	position: absolute;
	text-align: center;
	color: black;
	background-color: rgba(245, 245, 245, 0.692);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}